<h2 id="contact" class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">
    Contacts
</h2>

<div class="secteurs text-gray-600 body-font relative">

    <div class="container px-5 py-24 mx-auto flex">
        <div class="shadow-lg lg:w-1/2 md:w-1/2 xl:w-1/2 bg-white rounded p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10">
            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Vous souhaitez des informations ?</h2>
            <p class="leading-relaxed mb-5 text-gray-600">Obtenez une estimation de votre projet et un rendez-vous avec
                un technicien.</p>
            {{ form_start(form) }}
            <div class="relative mb-4">
                <div class="grid gap-4 grid-cols-2">
                    <div>
                        {{ form_row(form.lastname) }}
                    </div>
                    <div>
                        {{ form_row(form.firstname) }}
                    </div>
                </div>
                <div class="mt-5">
                    {{ form_row(form.address) }}
                </div>
                <div class="grid gap-4 grid-cols-2">
                    <div class="mt-5">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="mt-5">
                        {{ form_row(form.email) }}
                    </div>
                </div>
            </div>
            <div class="relative mb-4 mt-5">
                {{ form_row(form.message, { 'attr': {'style': 'height: 150px'} }) }}
            </div>
            {{ form_end(form) }}
            <p class="text-xs text-gray-500 mt-3">Nos équipes mettent tout en œuvre pour traiter votre demande.</p>
        </div>
    </div>
    <div class="absolute inset-0">
        <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d712972.7760795051!2d-0.7783765500000001!3d45.73009395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48010f8cd49d63f3%3A0x305d39260e72680!2sCharente-Maritime!5e0!3m2!1sfr!2sfr!4v1672848147243!5m2!1sfr!2sfr"
                style=""></iframe>
    </div>

</div>

<section class="mb-20 text-gray-700">
    <div class="grid md:grid-cols-3 gap-6 text-center mt-4">
        <div>
            <div class="block">
                <div class="overflow-hidden h-24"></div>
                <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
                    <img src="https://i.ibb.co/6HvVZyK/pascal-pasquier.jpg" alt="pascal-pasquier" border="0">
                </div>
                <div class="p-6">
                    <h4 class="text-2xl font-semibold mb-4">Pascal Pasquier</h4>
                    <hr />
                    <p class="mt-4">
                        Vous avez une question technique ? Contactez Pascal au
                        <a href="tel:+33663292708"><u>0663292708</u></a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="block">
                <div class="overflow-hidden rounded-t-lg h-24"></div>
                <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
                    <img src="https://i.ibb.co/3h8FkVc/samuel-courreau.jpg" alt="samuel-courreau" border="0">
                </div>
                <div class="p-6">
                    <h4 class="text-2xl font-semibold mb-4">Samuel Coureau</h4>
                    <hr />
                    <p class="mt-4">
                        Une question technique ? Contactez Samuel au
                        <a href="tel:+33662682637"><u>0662682637</u></a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="block">
                <div class="overflow-hidden rounded-t-lg h-24"></div>
                <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
                    <img src="https://i.ibb.co/fk4Ny0v/val-rie-pasquier.jpg" alt="val-rie-pasquier" border="0">
                </div>
                <div class="p-6">
                    <h4 class="text-2xl font-semibold mb-4">Valérie Pasquier</h4>
                    <hr />
                    <p class="mt-4">
                        Une question administrative ? Contactez Valérie au
                        <a href="tel:+33754220799"><u>0754220799</u></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>